body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    padding: 20px;
    margin: 0 auto;
    color: #4a4a4a; /* Dark grey */
    width: 1000px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #d87c3f; /* Orange */
}

.quote {
    text-align: center;
    font-style: italic;
    color: #6b7280;
    margin-bottom: 30px;
    font-size: 1.25rem;
}

#placeholder-blogs {
    margin-top: 20px;
}

.title-date-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-link {
    font-size: 1.25rem;
    font-weight: 600;
    color: #d87c3f; /* Orange */
    text-decoration: none;
}

.title-link:hover {
    text-decoration: underline;
}

.date-element {
    font-size: 0.875rem;
    color: #a16207; /* Brown */
    margin-left: 20px;
}

.tags-container {
    margin-top: 8px;
}

.tag {
    display: inline-block;
    color: #ffffff;
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 9999px;
    margin-right: 8px;
    cursor: pointer;
}

.tag-1 {
    background-color: #d87c3f; /* Orange */
}

.tag-2 {
    background-color: #a16207; /* Brown */
}

.tag-3 {
    background-color: #8a6d3b; /* Darker brown */
}

.tag-4 {
    background-color: #4b5563; /* Grey */
}

.filter-container {
    margin-bottom: 16px;
}

.filter-pill {
    display: inline-block;
    background-color: #e5e7eb;
    color: #374151;
    font-size: 0.75rem;
    padding: 4px 12px;
    border-radius: 9999px;
    cursor: pointer;
}

.summary {
    font-size: .9rem;
    color: #4a4a4a; /* Dark grey */
    margin-top: 12px;
    font-style: italic;
}

.separator {
    border-bottom: 1px solid #d1d5db;
    margin: 20px 0;
}